#
# ARC Computing Element zero configuration
# Consult ARC Installation Guide to modify this configuration for production use-cases
#

[common]
hostname={{ ansible_fqdn }}
x509_host_key = {{ arc_x509_user_key }}
x509_host_cert = {{ arc_x509_user_cert }}
x509_cert_dir = {{ arc_x509_cert_dir }}
voms_processing = standard

# Enabling autoken access
[authtokens]

# Authgroups for VOs
{% for vo in gridsite_supported_vos %}
[authgroup: {{ vo }}]
voms = {{ vo }} * * *

{% endfor %}


# Authgroups for roles
{% for vo in gridsite_supported_vos_data_list %}
{% for mapping in vo.roles %}
[authgroup: {{ mapping.group }}]
{% if '=' in mapping.fqan %}
voms = {{ vo.name }} * {{ mapping.fqan.split('=')[1] }} *
{% else %}
voms = {{ vo.name }} {{ mapping.fqan.split('/')[2] }} * *
{% endif %}
{% if mapping.tokens is defined %}
{% for token in mapping.tokens %}
authtokens = {{ token }}
{% endfor %}
{% endif %}
{% endfor %}

{% endfor %}

[authgroup: allvos]
{% for vo in gridsite_supported_vos %}
authgroup = {{ vo }}
{% endfor %}

[mapping]
# Mapping from VOs
{% for vo in gridsite_supported_vos %}
map_to_pool = {{ vo }} /etc/grid-security/pools/{{ vo }}
{% endfor %}

# Mapping from roles
{% for vo in gridsite_supported_vos_data_list %}
{% for mapping in vo.roles %}
{% if mapping.name == 'pilot' or mapping.name == 'lcgadmin'  %}
map_to_user = {{ mapping.pool_accounts.0.account }} {{ mapping.pool_accounts.0.account }}:{{ vo.name }}
{% else %}
map_to_pool = {{ mapping.group }} /etc/grid-security/pools/{{ mapping.group }}
{% endif %}
{% endfor %}
{% endfor %}

policy_on_nomap=stop

[lrms]
lrms = slurm
slurm_use_sacct = yes
benchmark=HEPSPEC:13.46

[arex]
sessiondir = {{ arc_frontend_sessiondir }}
scratchdir = /var/tmp

[arex/data-staging]
#loglevel = INFO
globus_tcp_port_range = 24000,25000
globus_udp_port_range = 24000,25000
httpgetpartial = yes

[arex/ws]

[arex/ws/jobs]
{% for vo in gridsite_supported_vos %}
allowaccess = {{ vo }}
{% endfor %}

[arex/jura]
logfile = /var/log/arc/jura.log
loglevel = INFO
urdelivery_frequency = 3600
x509_host_key = {{ arc_x509_user_key }}
x509_host_cert = {{ arc_x509_user_cert }}
x509_cert_dir = {{ arc_x509_cert_dir }}

[arex/jura/apel: EGI]
targeturl = https://msg.argo.grnet.gr
gocdb_name=IN2P3-IRES

[gridftpd]
maxconnections = 200
globus_tcp_port_range = 24000,25000
globus_udp_port_range = 24000,25000
loglevel = 3

[gridftpd/jobs]
allownew = yes
allowaccess = allvos

[infosys]

[infosys/ldap]
[infosys/nordugrid]

[infosys/glue1]
glue_site_web=http://iphc.cnrs.fr/
resource_location=Strasbourg, FR
resource_latitude=48.721545
resource_longitude=2.148684
cpu_scaling_reference_si00=2886
glue_site_unique_id=IN2P3-IRES
processor_other_description=Cores=32, Benchmark=13.46-HEP-SPEC06

[infosys/glue2]
admindomain_name = IN2P3-IRES
#admindomain_distributed = no
computingservice_qualitylevel = testing

[infosys/cluster]
nodememory=2048
maxcputime = 172800
maxwalltime = 172800

opsys=Almalinux
opsys=9
architecture = adotf
nodecpu = adotf

{% for vo in gridsite_supported_vos %}
advertisedvo = {{ vo }}
{% endfor %}

nodememory=16261

nodeaccess=outbound

{% for vo in gridsite_supported_vos %}
[queue:{{ vo }}]
comment = Dedicated queue for {{ vo }}
allowaccess = {{ vo }}
advertisedvo = {{ vo }}
defaultmemory = 3500
benchmark=HEPSPEC 13.46

{% endfor %}

