#
# ARC Computing Element zero configuration
# Consult ARC Installation Guide to modify this configuration for production use-cases
#

[common]
hostname={{ ansible_fqdn }}
x509_host_key = {{ arc_x509_user_key }}
x509_host_cert = {{ arc_x509_user_cert }}
x509_cert_dir={{ arc_x509_cert_dir }}
voms_processing=standard

[authgroup: vo.sbg.in2p3.fr]
voms = vo.sbg.in2p3.fr * * *

[authgroup: biomed]
voms = biomed * * *

[authgroup: legacy]
file = /etc/grid-security/grid-mapfile

[authgroup:any]
all=yes

[mapping]
map_with_file = legacy /etc/grid-security/grid-mapfile

policy_on_nomap=stop

[lrms]
lrms = slurm
slurm_use_sacct = no  # FIXME: we should but not now.
benchmark=HEPSPEC:13.46

[arex]
sessiondir = {{ arc_frontend_sessiondir }}
scratchdir = /var/tmp

[arex/data-staging]
#loglevel = INFO
globus_tcp_port_range = 24000,25000
globus_udp_port_range = 24000,25000
httpgetpartial = yes

[arex/ws]

[arex/ws/jobs]
allowaccess=vo.sbg.in2p3.fr
allowaccess=biomed
allownew=yes

[gridftpd]
maxconnections=200
globus_tcp_port_range=24000,25000
globus_udp_port_range=24000,25000
loglevel=3

[gridftpd/jobs]
allownew=yes
allowaccess=gridmapusers

[infosys]

[infosys/ldap]
[infosys/nordugrid]

[infosys/glue2]
admindomain_name = IN2P3-IRES
#admindomain_distributed = no
computingservice_qualitylevel = production

[infosys/glue1]
glue_site_web=http://iphc.cnrs.fr/
resource_location=Strasbourg, FR
resource_latitude=48.721545
resource_longitude=2.148684
cpu_scaling_reference_si00=2886
glue_site_unique_id=IN2P3-IRES
processor_other_description=Cores=9792, Benchmark=13.46-HEP-SPEC06

[infosys/glue2]

[infosys/cluster]
nodememory=2048
maxcputime = 172800
maxwalltime = 172800

opsys=Almalinux
opsys=9
architecture = adotf
nodecpu = adotf

advertisedvo=vo.sbg.in2p3.fr
advertisedvo=biomed
nodememory=16261

nodeaccess=outbound

[queue:vo.sbg.in2p3.fr]
comment = Dedicated queue for vo.sbg.in2p3.fr
allowaccess = vo.sbg.in2p3.fr
advertisedvo = vo.sbg.in2p3.fr
benchmark=HEPSPEC 12.84
maxwalltime = 259200

[queue:biomed]
comment = Dedicated queue for biomed
allowaccess = biomed
advertisedvo = biomed
benchmark=HEPSPEC 12.84
maxwalltime = 259200

