"/{{ vo.name }}" .{{ vo.account_prefix }}
"/{{ vo.name }}/Role=NULL" .{{ vo.account_prefix }}
"/{{ vo.name }}/Role=NULL/Capability=NULL" .{{ vo.account_prefix }}
{% for mapping in vo.roles %}
{% if mapping.name == 'pilot' or mapping.name == 'lcgadmin' %}
{% set maybedot = "" %}
{% else %}
{% set maybedot = "." %}
{% endif %}
"{{ mapping.fqan }}" {{ maybedot }}{{ vo.account_prefix }}{{ mapping.suffix }}
"{{ mapping.fqan }}/Role=NULL" {{ maybedot }}{{ vo.account_prefix }}{{ mapping.suffix }}
"{{ mapping.fqan }}/Role=NULL/Capability=NULL" {{ maybedot }}{{ vo.account_prefix }}{{ mapping.suffix }}
{% endfor %}